{% extends "admin/change_list.html" %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <style>
        #map {
            height: 400px;
            width: 100%;
            margin-bottom: 60px;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const map = L.map('map').setView([52.237049, 21.017532], 13);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            let coords = [];
            // TODO: add here markers and coordinates to coords
            if(coords){
                map.fitBounds(coords, {"maxZoom": 13});
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div id="map"></div>
    {{ block.super }}
{% endblock %}