.form-title {
    font-weight: bold;
    font-size: 30px;
}

label {
    font-weight: bold;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=color]):not([type=button]):not([type=reset]), select, textarea, textarea[type=text] {
    border-radius: 10px;
}

i.gg-close-r{
    color: var(--color-error);
}

i.gg-check-r{
    color: var(--color-success);
}

form p.text-error{
    font-size: 1.3rem;
}
